<h1>Criticality Rankings Explained</h1>

<div>
  <p>Criticality allows you to automatically prioritize work thereby getting more done with less resources.</p>
  
  <p>
    First, all Areas / Functional Systems / Assets need a criticality number.
    This number defines the consequences if asset fails as follows:
  </p>
  
    <ul>
      <li>1 low criticality, no safety consequence, will not stop production</li>
      <li>2 medium criticality, will stop production</li>
      <li>3 highest criticality, will cause safety incident</li>
    </ul>
</div>

<p>Second, when defining failure modes, each one needs a criticality, defined as follows:</p>

<div>
Chance of the failure occuring:
  <ul>
    <li>  Percentage 0%% to 100%</li>
  </ul>

Severity of the consequences if it does occur:
  <ul>
    <li>  0 - 25 no safety, low production consequences</li>
    <li>  25 - 50 no safety, medium production consequences</li>
    <li>  50 - 75 safety issue but no production</li>
    <li>  75 - 100 safety and production consequences</li>
  </ul>
</div>
