<h1>How this website works</h1>

<div>This website helps you maintain a living document of your equipment according to the Reliability Centered Maintenance (RCM) philosopy.</div>

<div>
  <h3>Here are the steps to have an RCM program in your company:</h3>
  <ol>
    <li>Create a list of assets with the following properties
      <ul>
        <li>Name</li>
        <li>Functional id</li>
        <li>Parent id</li>
        <li>Criticality rating</li>
        <li>hierarchical type</li>
        <li>(Area > Functional System > Asset > Components)</li>
        <li>(ie. Primary Crushing > Primary Crusher > Gyratory Crusher > Motor)</li></li>
      </ul>
    <li>Each asset needs one primary functions and a few secondary functions</li>
    <li>Add failure modes to each Functional System</li>
  </ol>

</div>

<div>
  <h3>Add a lubrication model</h3>
  <p>Add a "lubrication" model at the asset or components level that require it.</p>
    <ol>
      <li>
        <p>Do a survey, add the following for each equipment</p>
      </li>
      <ul>
        <li>manufacturer</li>
        <li>model</li>
        <li>equipment orientation</li>
        <li>bearing type</li>
        <li>lubricant type (oil, grease)</li>
        <li>method of lubrication (bath splash, circulation system, oil mist, etc.) • normal operating temperature</li>
        <li>reservoir capacity</li>
        <li>Horsepower</li>
        <li>RPM</li>
        <li>copies of lubricant sections out of the OEM manuals for each piece of equipment</li>
      </ul>
      
      <li>Select Lubricants for each thing, with frequency</li>
      <li>Create a lubrication manual (all this information in one spot)</li>
      <li>List and purchase lubrication equipment</li>
      <li>Set PM tasks and frequency</li>
    </ol>
</div>
