<h1>Editing failure mode</h1>

<%= render "form", failure_mode: @failure_mode %>

<br>

<div>
  <%= link_to "Show this failure mode", @failure_mode %> |
  <%= link_to "Back to failure modes", failure_modes_path %>
</div>
