<div id="<%= dom_id functional_failure %>">
  <p>
    <strong>Description:</strong>
    <%= functional_failure.description %>
  </p>

  <p>
    <strong>Equip function:</strong>
    <%= functional_failure.equip_function_id %>
  </p>

</div>
