<h1>Editing functional failure</h1>

<%= render "form", functional_failure: @functional_failure %>

<br>

<div>
  <%= link_to "Show this functional failure", @functional_failure %> |
  <%= link_to "Back to functional failures", functional_failures_path %>
</div>
