
        <tr>
            <td><%= equip_function.name %></td>
            <td><%= equip_function.tracked_description %></td>
            <td><%= equip_function.tracked_value %></td>
            <td><%= equip_function.thing_id %></td>
        </tr>