<h1>Editing equip function</h1>

<%= render "form", equip_function: @equip_function %>

<br>

<div>
  <%= link_to "Show this equip function", @equip_function %> |
  <%= link_to "Back to equip functions", equip_functions_path %>
</div>
